NAME : IPPILI KARTHIK KUMAR REG NO : 20MID0148 COLLEGE CAMPUS: VIT VELLORE

In [1]:
import numpy as np
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(42)

# Create random values
data = np.random.rand(4, 4)

# Create the DataFrame
df = pd.DataFrame(data, columns=['Col1', 'Col2', 'Col3', 'Col4'])
print(df)

       Col1      Col2      Col3      Col4
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443  0.212339  0.181825  0.183405

In [2]:
# Rename the column names
df.rename(columns={'Col1': 'Column value 1', 
                   'Col2': 'Column value 2',
                   'Col3': 'Column value 3', 
                   'Col4': 'Column value 4'},
          inplace=True)
print(df)

   Column value 1  Column value 2  Column value 3  Column value 4
0        0.374540        0.950714        0.731994        0.598658
1        0.156019        0.155995        0.058084        0.866176
2        0.601115        0.708073        0.020584        0.969910
3        0.832443        0.212339        0.181825        0.183405

In [3]:
# Display descriptive statistics
stacts = df.describe()

# Print the statistics
print(stacts)

       Column value 1  Column value 2  Column value 3  Column value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.491029        0.506780        0.248122        0.654537
std          0.291252        0.386153        0.329856        0.350875
min          0.156019        0.155995        0.020584        0.183405
25%          0.319910        0.198253        0.048709        0.494845
50%          0.487828        0.460206        0.119954        0.732417
75%          0.658947        0.768733        0.319367        0.892110
max          0.832443        0.950714        0.731994        0.969910

In [4]:
# Check for null values
null_values = df.isnull().sum()

# Print null values
print("Null Values:\n", null_values)

# Find data types of columns
data_types = df.dtypes

# Print data types
print("\nData Types:\n", data_types)

Null Values:
 Column value 1    0
Column value 2    0
Column value 3    0
Column value 4    0
dtype: int64

Data Types:
 Column value 1    float64
Column value 2    float64
Column value 3    float64
Column value 4    float64
dtype: object

In [5]:
# Display columns using location method
location_method_cols = df.loc[:, ['Column value 2', 'Column value 3']]
print("Columns using location method:\n", location_method_cols)

# Display columns using index location method
index_location_method_cols = df.iloc[:, [1, 2]]
print("\nColumns using index location method:\n", index_location_method_cols)

Columns using location method:
    Column value 2  Column value 3
0        0.950714        0.731994
1        0.155995        0.058084
2        0.708073        0.020584
3        0.212339        0.181825

Columns using index location method:
    Column value 2  Column value 3
0        0.950714        0.731994
1        0.155995        0.058084
2        0.708073        0.020584
3        0.212339        0.181825